  </main>
  <footer class="site-footer">
    <div class="container footer-grid">
      <div>
        <h4><%= site.site_name %></h4>
        <p><%= site.site_tagline %></p>
      </div>
      <div>
        <h4>Liên hệ</h4>
        <p>Email: <%= site.contact_email %></p>
        <p>Telegram: <%= site.telegram %></p>
        <p>Zalo: <%= site.zalo %></p>
      </div>
    </div>
  </footer>
</body>
</html>
